<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main_css.css}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <link rel="stylesheet" th:href="@{/resources/script/jquery-ui-1.12.1/jquery-ui.min.css}">
    <script th:src="@{/resources/script/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
    <script th:src="@{/resources/script/jquery-ui-1.12.1/datepicker-ko.js}"></script>
    
    <script type="text/javascript" th:src="@{/resources/script/main.js}"></script>
  </head>
  <body>
	<div id="main_top">
	    <img th:src="@{/resources/img/noreunja_logo.png}" height="80px">
	</div>
    <div id="body">
      <div id="search_box">
  		<form action="search" method="post">
        <table id="search_table">
       	<tr>
          <td>
              <div id="search_engine">
                <div>
	                <div class="slideshow-container" style="width:100px;">
		                <div style="display:inline" >
	            			<a class="prev" onclick="plusSlides1(-1)">&#10094;</a>
	            		</div>
		                <div class="mySlides1 fade" style="display:inline; position:relative; top:17%;">
		                  <img th:src="@{/resources/img/logo_g.png}" style="width:50%;">
		                </div>
		                <div class="mySlides1 fade" style="position:relative; top:17%;">
		                  <img th:src="@{/resources/img/logo_n.png}" style="width:50%;">
		                </div>
		                <div class="mySlides1 fade" style="position:relative; top:17%;">
		                  <img th:src="@{/resources/img/logo_z.png}" style="width:50%;">	                  
	                    </div>
		                <div style="display:inline" >
		                   <a class="next" onclick="plusSlides1(1)">&#10095;</a>
		                </div>
	              	</div>
	              </div>
            </div>
          </td>
          <td>
            <input type="text" name="keyword" id="input_text" size="60px">
    		<input type="hidden" name="platform" id="platform1" value="google">
          </td>
          <td>
            <div id="search_icon">
              <input type="image" th:src="@{/resources/img/search_logo.png}" height="40px">
            </div>
          </td>
        </tr>
        </table>
    	</form>
      </div>
      <p><p>
      <div id="engine_box">
      <form action="" method="post">
        <table>
            <tr>
                <td><img th:src="@{/resources/img/logo_google.png}" width="120px"></td>
                <td><img th:src="@{/resources/img/logo_nate.png}" width="120px"></td>
                <td><img th:src="@{/resources/img/logo_zum.png}" width="120px"></td>
            	<td>
	            	<div id="div_f">
	                  <div id="prev">
            		<a class="prev" onclick="plusSlides2(-1)">&#10094;</a></div>
	                  <div class="slideshow-container">
	                  <div class="mySlides2 fade" style="display:block" id="slide_f">
	                    <img th:src="@{/resources/img/logo_g.png}" id="s_logo">
	                  </div>
	
	                  <div class="mySlides2 fade" id="slide_f">
	                    <img th:src="@{/resources/img/logo_n.png}" id="s_logo">
	                  </div>
	
	                  <div class="mySlides2 fade" id="slide_f">
	                    <img th:src="@{/resources/img/logo_z.png}" id="s_logo">	                  
	                  </div>
	                  <div id="next">
	                  <a class="next" onclick="plusSlides2(1)">&#10095;</a></div>
	                  
	                  <!-- 달력 -->
	                  <div id="date_box">
	              	<input type="text" name="time" id="time" size="8"/></div>
	              	<div id="date_button">
	              	<input type="submit" value="적용"></div>
	              	<input type="hidden" name="platform" id="platform2" value="google">
	              	</div></div>
            	</td>
            </tr>
            <tr>
                <td id="rank_box">
                	<div th:each="keyword : ${list}">
                		<h4 th:if="${keywordStat.index} < 10" th:text=${(keywordStat.index)+1} style="display:inline">1</h4>
                		<p th:if="${keywordStat.index} < 10" th:text=${keyword.keyword} th:id=${(keywordStat.index)+1} style="display:inline" th:onclick="keywordInsert(this.id)">검색어</p>
                	</div>
                </td>
                <td id="rank_box">
                	<div th:each="keyword : ${list}">
                		<h4  th:if="${keywordStat.index} < 20 and ${keywordStat.index} >= 10" th:text=${(keywordStat.index)-9} style="display:inline">1</h4>
                		<p th:if="${keywordStat.index} < 20 and ${keywordStat.index} >= 10" th:text=${keyword.keyword} th:id=${(keywordStat.index)+1} style="display:inline" th:onclick="keywordInsert(this.id)">검색어</p>
                	</div>
                </td>
                <td id="rank_box">
                	<div th:each="keyword : ${list}">
                		<h4 th:if="${keywordStat.index} < 30 and ${keywordStat.index} >= 20" th:text=${(keywordStat.index)-19} style="display:inline">1</h4>
                		<p th:if="${keywordStat.index} < 30 and ${keywordStat.index} >= 20" th:text=${keyword.keyword} th:id=${(keywordStat.index)+1} style="display:inline" th:onclick="keywordInsert(this.id)">검색어</p>
                	</div>
                </td>
                <td id="rank_box">
                	<div th:each="keyword : ${list}">
                		<h4 th:if="${keywordStat.index} < 40 and ${keywordStat.index} >= 30" th:text=${(keywordStat.index)-29} style="display:inline">1</h4>
                		<p th:if="${keywordStat.index} < 40 and ${keywordStat.index} >= 30" th:text=${keyword.keyword} th:id=${(keywordStat.index)+1} style="display:inline" th:onclick="keywordInsert(this.id)">검색어</p>
                	</div>
                </td>
            </tr>
        </table>
      </form>
      </div>
    </div>
  </body>
</html>
