<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main_css.css}">
  </head>
  <body>
	<div id="main_top">
	    <p id="title">노른자</p>
	</div>
    <div id="body">
      <div id="search_box">
        <table id="search_table">
       	<tr>
          <td>
              <div id="search_engine">
                <img src="../static/resources/img/logo_google.png" th:src="@{/resources/img/logo_google.png}" width="100px">
            </div>
          </td>
          <td>
            <input type="text" id="input_text" size="60px">
          </td>
          <td>
            <div id="search_icon">
              <input type="image" src="../static/resources/img/search_logo.png" th:src="@{/resources/img/search_logo.png}" height="40px">
            </div>
          </td>
        </tr>
        </table>
      </div>
      <p><p>
      <div id="engine_box">
        <table>
            <tr>
                <td><img src="../static/resources/img/logo_google.png" th:src="@{/resources/img/logo_google.png}" width="120px"></td>
                <td><img src="../static/resources/img/logo_naver.png" th:src="@{/resources/img/logo_naver.png}" width="120px"></td>
                <td><img src="../static/resources/img/logo_nate.png" th:src="@{/resources/img/logo_nate.png}" width="120px"></td>
                <td><img src="../static/resources/img/logo_zum.png" th:src="@{/resources/img/logo_zum.png}" width="120px"></td>
            </tr>
            <tr>
                <td id="rank_box">
                	<div th:each="google : ${list}">
                		<p th:text=${google.id+1}>1</p>
                		<p th:text=${google.keyword}>검색어</p>
                	</div>
                </td>
                <td id="rank_box"></td>
                <td id="rank_box"></td>
                <td id="rank_box"></td>
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>
